.container{
    padding-top:30px;
}
.active{
    background-color: #7a7a7a !important;
}
.navbar {
    border-radius: 0;
    font-size: 25px;
    font-family:"Times New Roman", Times, serif;
}
.h3, h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.h1, h1 {
    text-align: center;
}